---
layout: default
---
<style>
  .post-title {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;    /* Larger font size */
    color: #4C96B6;       /* Purple color */
    font-weight: bold;   /* Bold for better visibility */
    margin-top: 30px;    /* Add some spacing between sections */
  }
</style>
<!-- _layouts/cv.html -->
        <div class="post">
          <header class="post-header">
            <!--<i>-->
            <h2 class="post-title">Curriculum Vitae {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h2>
            <h3 class="post-description">{{ page.description }}</h3>
            <!--</i>-->
          </header>

          <article>
            <div class="cv">
              {% for entry in site.data.cv %}
                <div class="card mt-3 p-3">
                  <h5 class="card-title font-weight-medium">{{ entry.title }}</h5>
                  <div>
                  {% if entry.type == "list" %}
                    {% include cv/list.html %}
                  {% elsif entry.type == "map" %}
                    {% include cv/map.html %}
                  {% elsif entry.type == "nested_list" %}
                    {% include cv/nested_list.html %}
                  {% elsif entry.type == "time_table" %}
                   {% include cv/time_table.html %}
                  {% else %}
                    {{ entry.contents }}
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
              </div>
          </article>

        </div>
